@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply min-h-screen text-white bg-black;
  }

  .router-link-active {
    @apply text-primary;
  }

  main {
    @apply pb-20;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold uppercase;
  }

  button {
    @apply font-bold uppercase transition-transform hover:scale-105;
  }
}

@layer components {
  .btn-primary {
    @apply font-bold text-black uppercase bg-white border-2 border-white hover:bg-black hover:text-white;
  }

  .btn-secondary {
    @apply text-white bg-black border-2 border-white hover:bg-white hover:text-black;
  }

  .input-primary {
    @apply text-white bg-black border-2 border-white outline-none focus:border-white;
  }

  .card-event {
    @apply p-4 text-white bg-black border-2 border-white;
  }

  .badge-category {
    @apply px-2 py-1 font-bold text-black uppercase bg-white;
  }
}
